@import url('view-ui-plus/dist/styles/viewuiplus.css');
@import url('viewerjs/dist/viewer.css');

@media(min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  margin: 0 auto;
}

.ivu-card:hover {
  z-index: 1;
}

@keyframes loading-bar-inner--spinner {
  0% {
    left: -12px;
  }

  100% {
    left: calc(100% + 12px);
  }
}

.ivu-loading-bar.ivu-loading-bar--spinner>.ivu-loading-bar-inner>.ivu-loading-bar-inner {
  position: absolute;
  background: #FFF;
  width: 12px;
  animation: loading-bar-inner--spinner 5s cubic-bezier(.55, .06, .68, .19) infinite;
}

.player-bar-inner-color-buffered {
  background: rgba(127, 127, 127, .6);
}

.player-bar.ivu-loading-bar {
  height: 5px;
  top: unset;
  bottom: 5px;
  cursor: pointer;
  z-index: 999;
}

.player-bar.ivu-loading-bar>.ivu-loading-bar-inner {
  height: 5px;
  position: absolute;
  transition: unset !important;
}

.player-bar.ivu-loading-bar>.player-bar-pointer.ivu-loading-bar-inner {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDE1Ij48cGF0aCBkPSJNMCAwSDZMMyA1Wk0wIDE1SDZMMyAxMFoiIGZpbGw9InJlZCIvPjwvc3ZnPg");
  margin-left: -3px;
  width: 6px;
  height: 15px;
  top: -5px;
}

.dplayer {
  width: var(--dplayer-width, 960px);
  height: calc(var(--dplayer-height, 540px) + 41px);
}

.dplayer .dplayer-mask {
  height: 41px;
  top: unset !important;
}

.dplayer .dplayer-danmaku {
  pointer-events: none;
}

.dplayer-controller .dplayer-icons .dplayer-comment {
  display: none !important;
}

.dplayer-danmaku .dplayer-danmaku-item {
  text-shadow: rgba(0, 0, 0, 0.8) 1px 0px 1px,
    rgba(0, 0, 0, 0.8) 0px 1px 1px,
    rgba(0, 0, 0, 0.8) 0px -1px 1px,
    rgba(0, 0, 0, 0.8) -1px 0px 1px !important;
}

.dplayer-danmaku .dplayer-danmaku-right.dplayer-danmaku-move {
  animation-duration: 10s !important;
}


.player-hide-layers .dplayer-bezel .dplayer-bezel-icon {
  display: none !important;
}

.player-force-show-controls .dplayer.dplayer-fulled {
  width: 100% !important;
  height: 100% !important;
}

.player-force-show-controls .dplayer-video-wrap {
  height: calc(100% - 41px) !important;
}

.player-force-show-controls .dplayer .dplayer-controller-mask {
  background-color: rgb(0, 0, 0) !important;
  background-image: unset !important;
}

.player-force-show-controls .dplayer .dplayer-controller,
.player-force-show-controls .dplayer .dplayer-controller-mask {
  opacity: 1 !important;
  height: 41px !important;
  transform: unset !important;
}

.dplayer-notice-list {
  position: fixed !important;
  z-index: 2000;
}

.player-container {
  width: min-content;
  margin: 0 auto;
  border: 2px solid #CCC;
  background: #000;
}